body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/images/background.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    color: black;
}

/* === BANNER HEADER === */
.banner {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    border-bottom: 1px solid #ccc;

    letter-spacing: 0.2em;
    font-weight: 400;
}

.banner-left {
    display: flex;
    align-items: center;
    margin-left: 4em;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5em;
}

.site-name {
    font-size: 1.5em;
    font-weight: 400;
    color: #333;
    margin: 0;
}

.banner-nav {
    margin-right: 7em;
}

.banner-nav a {
    position: relative;
    padding: 0.15em 0;
    margin-left: 4em;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.banner-nav a:hover {
    color: #d18800;
}

.banner-nav .active {
    color: #d18800;
    font-weight: 550;
}

.banner-nav .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 97.5%;
  background-color: #d18800   ;
}


/* === HERO SECTION === */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    text-align: center;
    padding: 2em;
}

.title {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 0.2em;
}

.subtitle {
    font-size: 1.5em;
    max-width: 1000px;
    margin: 0.5em auto;
    line-height: 1.6;
}

.hero-button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.75em 3em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: gold;
    color: black;
    border-radius: 5px;
}

.hero-button:hover {
    background-color: goldenrod;
}

/* === PROJECTS SECTION === */
#unity-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4rem auto;
}

.unity-wrapper {
    position: relative;
    width: 100%;
    max-width: 1280px;
    aspect-ratio: 16 / 9;
    margin: 2em;
    margin-bottom: 5em;
    overflow: hidden;
}

.unity-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}